@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  color: black;
  background: rgb(11, 3, 17);
  background: linear-gradient(
    90deg,
    rgba(11, 3, 17, 1) 0%,
    rgba(101, 101, 101, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: 'Montserrat', sans-serif;
}
html{
  font-family: 'Montserrat', sans-serif;
  color: black;

}
*{
  font-family: 'Montserrat', sans-serif;
  color: black;
font-weight: 600;
}